doctype html
html 
    head 
        body 
            h1#pageTitle Welcome to World 
            p.big-para
                This is a first para 
                and this is second para 
            ul 
                li This is item #1
                li This is item #2
            .display-box 
            #myOnlyDiv