doctype html
html 
    head 
        body 
            h1 Welcome to World 
            p.
                This is a first para 
                and this is second para 
            ul 
                li This is item #1
                li This is item #2
                